{% extends "layout/template.html" %}

{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{%static 'img/form.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Form</h1>
              <span class="subheading">Fill the form for status.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
	<section name="form">
		<h2>Fill this form</h2>
		<form id="form" method="POST" action="{%url 'process'%}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn mb-3 btn-default">Submit</button>
		</form>
	</section>
{% endblock content %}