{% extends "layout/template.html" %}

{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{%static 'img/profile.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>{{ landing_text }}</h1>
              <span class="subheading">{{ landing_subtext }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}